.errMsg {
    color: red;
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
    display: inline-table;
}

.offscreen {
    display: none;
}


.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inputDiv {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}


.verifyIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    right: 0;
    top: 25%;
    margin-right: 5px;
    position: relative;
    border: 1px solid;
    border-radius: 5px;
    width: 200px;


    input {
        padding: 5px;
        border: none;
        border-radius: 5px;
        width: 80%;
    }


    &>svg {
        margin-right: 10px;
    }

    .invalid {
        color: red;
    }

    .valid {
        color: green;
    }
}




.dotView {
    width: 10px;
    height: 10px;
    position: relative;
}

.instructions {
    width: 340px;
    background-color: #fff;
    color: black;
    text-align: start;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: 5px;
    top: -46px;
    border: 1px solid;
    padding: 5px;
}

.instructions::before {
    border-color: transparent #000000 transparent transparent !important;

}

.instructions::after {
    margin-right: -1px;
    border-color: transparent #ffffff transparent transparent !important;

}

.instructions::after,
.instructions::before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.hide {
    visibility: hidden;
}