@use '/src/styles/global_text.scss';

$backgroundColor: #fff;
$backgroundColorForm: #f3f3f3;

$secondaryTextColor: #565656;
$linkTextColor: #007fc9;

$borderColor: #e5e5e5;
$borderColorDark: #e1e1e1;

$backgroundGradient: linear-gradient(347deg, #e1e1e1 0%, #f7f7f7 24%);

.button {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 26px;
    border-radius: 5px;
    padding: 0;
    margin-top: 10px;
    border: 1px solid;
}

.link {
    color: $linkTextColor;
    font-weight: 500;
}