$backgroundColor: #fff;
$backgroundColorForm: #f3f3f3;
$secondaryTextColor: #565656;

$borderColor: #e5e5e5;
$borderColorDark: #e1e1e1;

$backgroundGradient: linear-gradient(347deg, #e1e1e1 0%, #f7f7f7 24%);